/* I figured out how to add comments */
:root {

    /* Entire Page Format */
    --webpage-bg-color: #F9F1DF;
    --section-height: 1000px;

    --font1:Yeseva One;
    --font2:Mont;
    --font3:Cardo;


    /* Section 1 */
    --s1-bg-image: url("https://www.canva.com/design/DAFRl-LolVo/gkTtYNybD5-D2BsqSMC3xg/view?utm_content=DAFRl-LolVo&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink#2");
    --s1-bg-color: #F9F1DF;
    --s1text:#444444;
    --s1font: var(--font1);
    --s1button-bg-color: #D6AD8D;
    --s1button-text-color: black;


    /* Sponser Section */
    --sponsor-bg-image: ;
    --sponsor-bg-color: #E6C8B0;
    --sponsor-text-color: black;
    --sponsor-font: var(--font1);
    --sponsor1: url("https://placekitten.com/100/100");
    --sponsor2: url("https://placekitten.com/100/100");
    --sponsor3: url("https://placekitten.com/100/100");
    --sponsor4: url("https://placekitten.com/100/100");


    /* Section 2 */
    --s2-bg-image: ;
    --s2-bg-color:#798A7D;
    --s2-text-color: black;
    --s2font: var(--font1);
    --s2button-bg-color: gray;
    --s2button-text-color: black;
    --section2-pic: url("https://placekitten.com/400/700");


    /* Section 3 */
    --s3-bg-image: ;
    --s3-bg-color:#819898;
    --s3-quote-box-color: #F8F3E5;
    --s3-quote-box-size: 95%;
    --s3-quote-box-margin: 5%;
    --s3-text-color: black;
    --s3font: var(--font1);


    /* Section 4 */
    --s4-bg-image: url("");
    --s4-bg-color:#F9F1DF;
    --s4-text-color: black;
    --s4font: var(--font1);
    --s4button-bg-color: gray;
    --s4button-text-color: black;
    --section4-pic: url("https://placekitten.com/400/700");


    /* Section 5 */
    --s5-bg-image: ;
    --s5-bg-color:#E6C8B0;
    --s5-text-color: black;
    --s5font: var(--font1);
    --s5button-bg-color: gray;
    --s5button-text-color: black;
    --section5-pic: url("https://placekitten.com/400/700");


    /* Section 6 */
    --s6-bg-image: ;
    --s6-bg-color: #819898;
    --s6font: var(--font1);
    --card-button-bg-color: gray;
    --card-button-text-color: black;


    /* Footer */
    --footer-bg-image: ;
    --footer-bg-color: #796B5D;
    --footer-font: var(--font1);
    --footer-text-color: black;
}