* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
}


body {
  font-size: 14px;
  background-image: var(--webpage-bg);
}


.section {
  height: var(--section-height);
}

.sponsor {
  width: 100px;
  height: 100px;
}

.sponsor-cont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  background-color: var(--sponsor-bg-color);
  color: var(--sponsor-text-color);
  font: var(--sponsor-font);
}

.inner-box {
  height: var(--s3-quote-box-size);
  width: var(--s3-quote-box-size);
  background-color: var(--s3-quote-box-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--s3-quote-box-margin);
  color: var(--s3-text-color);
  font: var(--s3-font);
}

.cardbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.foot-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footer-panels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sponsor1 {
  content: var(--sponsor1);
}

#sponsor2 {
  content: var(--sponsor2);
}

#sponsor3 {
  content: var(--sponsor3);
}

#sponsor4 {
  content: var(--sponsor4);
}

#section1 {
  background-image: var(--s1-bg-image);
  background-color: var(--s1-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20%;
  color: var(--s1text);
  font: var(--s1-font);
}

#section2 {
  background-image: var(--s2-bg-image);
  background-color: var(--s2-bg-color);
  color: var(--s2-text-color);
  font: var(--s2-font);
}

#s2pic{
  content: var(--section2-pic)
}

.pic-n-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.text-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: space-evenly;
}

#section3 {
  background-image: var(--s3-bg-image);
  background-color: var(--s3-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#section4 {
  background-image: var(--s4-bg-image);
  background-color: var(--s4-bg-color);
  color: var(--s4-text-color);
  font: var(--s4-font);
}

#s4pic{
  content: var(--section4-pic)
}

#section5 {
  background-image: var(--s5-bg-image);
  background-color: var(--s5-bg-color);
  color: var(--s5-text-color);
  font: var(--s5-font);
}

#s5pic{
  content: var(--section5-pic)
}

#section6 {
  background-image: var(--s6-bg-image);
  background-color: var(--s6-bg-color);
  color: var(--s6-text-color);
  font: var(--s6-font);
}

#card {
  background-color: var(--card-button-bg-color);
  color: var(--card-button-text-color)
}

#button1 {
  background-color: var(--s1button-bg-color);
  color: var(--s1button-text-color)
}

#button2 {
  background-color: var(--s2button-bg-color);
  color: var(--s2button-text-color)
}

#button3 {
  background-image: url("https://archive.org/download/J.mpMindSpaceApocalypse/Insainment-undead-zombies10.gif");
}

#texting {
  color: aliceblue;
}

#footer {
  background-image: var(--footer-bg-image);
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  font: var(--footer-font);
}